{% extends 'base.html' %}

{% block content %}

    <div class="container has-text-centered">
        <span class="column is-4 is-offset-4">
            {% if error %}
                <p>
                    <strong class="help is-danger is-medium">
                        Невірна адреса електронної пошти або пароль.
                    </strong>
                </p>
            {% endif %}

            <h3 class="title has-text-black">Увійти</h3>

            <div class="box">
                <form method="post">
                            <div class="field">
                    {% csrf_token %}
                    {{ form.as_p }}
                            </div>
                    <button type="submit"
                        class="button is-block is-info is-medium is-fullwidth">
                        <span>Увійти</span>
                        <span class="icon">
                            <i class="fas fa-sign-in-alt"></i>
                        </span>
                    </button>
                </form>
            </div>

        </div>
    </div>

{% endblock content %}
